.employee-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-group label {
    width: 150px; /* Set a fixed width for labels */
    font-weight: bold;
    margin-right: 10px;
    text-align: right; /* Align label text to the right */
  }
  
  .form-group input {
    flex: 1; /* Allow input to take the remaining space */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .image-preview {
    width: 100px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #6c3f77;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #15d625;
  }
  